.product-list-header, .header {
    display: flex;
    text-align: center;
    align-items: center;
}
.product-list-header button {
    height: 20px;
    color: #fff;
    background-color: aqua;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-left: 40px;
}

.button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: auto;
    height: 30px;
    width: auto;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-left: 50px;
}
.button.button-blue {
    background-color: aqua;
}
.button.button-red {
    background-color: red;
}
.button.button-white {
    background-color: rgb(54, 124, 174);
    color: black;
}


a {
    text-decoration: none;
    color: #fff;
}

.product-detail-title {
    display: inline-block;
    width: 100px;
}